
.header{
	background: -moz-linear-gradient(top, rgba(146, 154, 158, 0.54) 0%,rgba(154, 154, 154, 0.39) 50%), url(../img/photo00.jpg); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(146, 154, 158, 0.54) 0%,rgba(154, 154, 154, 0.39) 50%), url(../img/photo00.jpg); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(146, 154, 158, 0.54) 0%,rgba(154, 154, 154, 0.39) 50%), url(../img/photo00.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: top center;
	background-size:cover;
	height:90vh;
	position: relative;

	&__text-box{
	text-align: center;
	position:absolute;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
	backface-visibility: hidden;

		@include respond(tab-port){
		display:inline-block;
		width:70%;
		top:30%;
		}


	}

}
