
.bg-video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:.3;
	overflow:hidden;

	&__content{
		width:100%;
		height:100%;
		object-fit:cover; //parent의 전체 영역을 ratio맞게 하면서 꽉채움, html태그에 모두 적용
	}
}